.welcome {
  background-color: #3c3f63;
  height: 2000px;
  font-family: gill sans, sans-serif;
}

h2 {
  font-size: 400%;
  color: #d87e79;
  position: relative;
  top: 300px;
  right: 400px;
}

p {
  font-size: 200%;
  color: #d87e79;
  position: relative;
  top: 300px;
  right: 600px;
}

.question {
  font-size: 200%;
  color: #d87e79;
  position: relative;
  top: 400px;
  right: 1050px;
}

.GetSubmitButton {
  width: 50%;
  margin: auto;
  border: none;
  margin-top: 40%;
  padding: 2%;
  border-radius: 20px;
  background-color: #573c56;
  font-size: 65px;
  color: #ffffff;
  transition: filter 0.2s ease-in-out;
  font-family: gill sans, sans-serif;
}

.GetSubmitButton:hover {
  filter: brightness(90%);
}
